{{>header}}
        <p>This site was created by Dan Avramescu. It uses data from <i>weatherstack.com</i> and from <i>mapbox.com</i>.</p>
        <img class="portrait" src="/images/portrait.jpg"/>
        <h2>From a handlebars file</h2>
{{>footer}}
