{{>header}}

        <p>{{description}}</p>

        <form>
                <input placeholder="Location">
                <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

{{>footer}}
